body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.content {
    text-align: center;
}

.awesome {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 100px 20px;
    padding-left: 11%;
    padding-right: 11%;
}

.semiheader {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.text {
    display: flex;
    text-align: left;
    width: 450px;
    flex-wrap: wrap;
}

.image {
    background-color: rgb(110, 110, 110);
    color: #E5E7EB;
    font-size: 18px;
    padding: 100px 128px;
}

input {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    margin: 8px 0;
}

p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 48px;
    color: #1F2937;
    font-size: 16px;
    margin-bottom: 96px;
}

.square {
    border: #3882F6;
    border-style: solid;
    border-width: 4px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.subimage {
    width: 150px;
    font-weight: 400;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quote-text {
    text-align: left;
    width: 790px;
    font-size: 36px;
    font-style: italic;
    font-weight: 350;
    color: #1F2937;
}

.quoter {
    text-align: right;
    width: 700px;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.sign {
    padding: 96px;
    display: flex;
    justify-content: center;
}

.sign-square {
    background-color: #3882F6;
    width: 70%;
    padding: 48px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.signtitle {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
}

.signsub {
    color: #E5E7EB;
    font-size: 20px;
}

.signbutton {
    border: solid;
    border-color: #F9FAF8;
    border-width: 2px;
}

.signinfo {
    text-align: left;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px;
}

@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden
    }

    .header {
        padding-bottom: 25px;
    }

    .header-text {
        font-size: 20px;
        padding-bottom: 20px;
        padding-left: 2%;
        line-height: 20px;
    }

    ul {
        font-size: 13px;
        line-height: 16px;
    }

    .awesome {
        padding-top: 0;
        flex-direction: column;
    }

    .semiheader {
        text-align: center;
        line-height: 52px;
    }

    .subtext {
        font-size: 15px;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 18%;
        text-align: justify;
    }
    
    .button {
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }

    .image {
        margin-top: 0;
        padding: 80px 118px;
    }

    .images {
        flex-wrap: wrap;
    }

    .square {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }

    .subimage {
        text-align: center;
        font-size: 15px;
    }

    .quote {
        padding-top: 70px;
    }

    .quote-text {
        padding-top: 0;
        text-align: justify;
        font-size: larger;
        max-width: 90%;
    }

    .quoter {
        font-size: larger;
        width: 80%;
    }

    .sign-square {
        flex-direction: column;
        width: 100%;
        padding: 24px;
    }

    .signinfo {
        text-align: justify;
    }

    .sign {
        padding: 56px;
    }
}